// Card and Image sizes
$card-width: 18.75rem;
$card-height: 25rem;
$image-height: 18.75rem;
$image-width: 100%;

#wrapper1 {
  .row {
    .col-12 {
      display: flex;
      justify-content: center;
    }
    
    // Card styling
    .product-card {
      width: $card-width;
      min-height: $card-height;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      border: none;
      margin: 0.5rem;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.05); // Slightly scale the card on hover
      }

      // Image styling
      .card-img-top {
        height: $image-height;
        width: $image-width;
        object-fit: cover; // Makes sure the image covers the entire element, cropping if necessary
      }

      // Card body
      .card-body {
        padding: 1rem;
        background-color: #57384f;
        color:#f2f2f2;
        
        // Title
        .card-title {
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }

        // Price
        .price {
          font-size: 1rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        // Description
        .description {
          font-size: 0.9rem;
          margin-bottom: 1rem;
        }

        // Action buttons
        .d-grid {
          .btn {
            padding: 0.5rem;
          }
        }
      }
    }
  }
}


.mycategory{

  color: bisque;
  background-color: #57384f;
  text-transform: uppercase;
}

.toggle-view-more{
  color: bisque;
  background-color: #57384f;
  margin-bottom: 1rem;

  &:hover {
    transform: scale(1.05); // Slightly scale the card on hover
    background-color: #1d0f19;
  }
}