.custom-form {
    max-width: 20rem;
    border: 1px solid #ddd;
    padding: 1rem;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
}

@media (max-width: 576px) {
    .custom-form {
        width: calc(100% - 2rem);
    }
}

  
  input[type],
  input[type="file"],
  textarea,
  select {
    &:hover, &:focus {
  
      outline: none !important;
      box-shadow: none !important;
    }
  }
  




  .reset-text{
    color: #8C003B; /* Text color */
    text-shadow: 1px 1px 0 #999,
                 -1px -1px 0 #999, 
                 1px -1px 0 #999,
                 -1px 1px 0 #999,
                 2px 2px 3px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
    font-weight: bold;
}