


// Variables
$html-bg-color: #843971;
$body-bg-color: #843971;
$card-bg-color: lighten($html-bg-color, 10%);
$btn-color: darken($html-bg-color, 15%);
$input-focus-border-color: darken($html-bg-color, 20%);
$hover-color: lighten($html-bg-color, 20%);

$link-color:#f2f2f2;

$hover-color:#E8D28A;

// Basic Style
html, body {
  height: 100%;
  background: linear-gradient(45deg, $html-bg-color, $body-bg-color);
  font-family: 'Arial', sans-serif;
}


.custom-form {
  background-color: #A8488F;
    max-width: 20rem;
    border: 1px solid #ddd;
    padding: 1rem;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
}

@media (max-width: 576px) {
    .custom-form {
        width: calc(100% - 2rem);
    }
}

  
  input[type],
  input[type="file"],
  textarea,
  select {
    
    &:hover, &:focus {
  
      outline: none !important;
      box-shadow: none !important;
    }
  }
  




  .reset-text{
    color: rgb(255, 2, 2); /* Text color */
    text-shadow: 1px 1px 0 #999,
                 -1px -1px 0 #999, 
                 1px -1px 0 #999,
                 -1px 1px 0 #999,
                 2px 2px 3px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
    font-weight: bold;
}